/*
 * ---------------------------------------------------------------------------
 *  Paths to all of the eQTL Catalogue annotation files at UT HPC.
 * ---------------------------------------------------------------------------
 */

params {
  // ***************** NORMALISATION module related parameters *****************

  // Phenotype metadata pathes. TODO: replace to fetch them from FTP in future
  array_pheno_meta_path = "/gpfs/space/projects/genomic_references/annotations/eQTLCatalogue/v0.1/phenotype_metadata/HumanHT-12_V4_Ensembl_96_phenotype_metadata.tsv.gz"
  ge_pheno_meta_path = "/gpfs/space/projects/genomic_references/annotations/eQTLCatalogue/v1.0/phenotype_metadata/gene_counts_Ensembl_105_phenotype_metadata.tsv.gz"
  tx_pheno_meta_path= "/gpfs/space/projects/genomic_references/annotations/eQTLCatalogue/v1.0/phenotype_metadata/transcript_usage_Ensembl_105_phenotype_metadata.tsv.gz"
  txrev_pheno_meta_path= "/gpfs/space/projects/genomic_references/annotations/eQTLCatalogue/v1.0/phenotype_metadata/txrevise_Ensembl_105_phenotype_metadata.tsv.gz"
  exon_pheno_meta_path= "/gpfs/space/projects/genomic_references/annotations/eQTLCatalogue/v1.0/phenotype_metadata/exon_counts_Ensembl_105_phenotype_metadata.tsv.gz"

  // leafcutter annotation
  leafcutter_transcript_meta = "/gpfs/space/projects/genomic_references/annotations/eQTLCatalogue/v1.0/Homo_sapiens.GRCh38.105_biomart_download.txt.gz"
  leafcutter_intron_annotation = "/gpfs/space/projects/genomic_references/annotations/eQTLCatalogue/v1.0/leafcutter_annotations/gencode_v39_all_introns.bed.gz"
  // ************************************************************************

  // ***************** POP_ASSIGN module related parameters *****************
  // Reference 1000Genome dataset VCF
  ref_genome = "/gpfs/space/projects/genomic_references/1000G/pop_assign/GRCh38_renamed_ids_no_multiallelic.vcf.gz"
  
  // file with populations of reference VCF
  populations_file = "/gpfs/space/projects/genomic_references/1000G/pop_assign/1000G_sample_metadata.tsv"

  // file with samples (americans) to remove (from reference VCF) for pca mapping
  ids_to_remove_file = "/gpfs/space/projects/genomic_references/1000G/pop_assign/amrs.txt"

  // Number of PCs
  num_pc = 3

  // flag if remove samples before mapping
  exclude_population = true
  // ************************************************************************
}
